<%- include('partials/header'); %>

<h1>Welcome to my Blog</h1>
<hr>
<div class="blog-container">
    <% for(post of posts){ %>
    <div class="post-container">
        <h1><%= post.title %> </h1>
        <p><%= post.content.slice(0, 500) %>...</p>
        <a href="<%= `posts/${post._id}` %> " class="btn btn-primary">View Post</a>
    </div>
    <% } %>
</div>

<%- include('partials/footer'); %>